<div class="bg-lapis md:mx-20 mx-5 md:py-4 md:px-8 py-2 px-4 my-2 rounded-md prose guide" style="max-width: fit-content;">

    <h1>
        Simple Privacy
    </h1>
    
    <p>
        Protecting your privacy and security can seem very complicated. This website is proof of that! This is a simplified listing of what you need to do to reclaim your privacy.
    </p>
    
    <h2>
        Remove Unused/Unwanted Apps and Services
    </h2>
    
    <p>
        The best way to prevent your data from being hacked is to decrease the amount of places where you can be attacked. Every application has (or will have) security vulnerabilities. Others simply spy on your directly. Removing those services can help to protect your privacy.
    </p>
    
    <p>
        Consider all the apps on your phone. How many of them do you use on a daily basis? If there are apps that you no longer use, remove them! This also goes for any accounts you may have. Over the years, you have probably made hundreds of accounts for various websites and services. If you no longer use them, delete your account or request your data to be deleted.
    </p>
    
    <h2>
        Switch to Open Source Alternatives
    </h2>
    
    <p>
        You most likely have a <b><em>lot</em></b> of apps and services remaining. This is very common in our digital world. If you can't live without social media / instant messaging / news / etc, consider an identical alternative. Many of these services are very simple in design. As a result, there are a ton of open source applications that do the same thing as the mainstream options.
    </p>
    
    <p>
        As a general rule, avoid products by the following services:
    </p>
    <ul class="!text-white">
        <li>
            Amazon
        </li>
        <li>
            Google
        </li>
        <li>
            Facebook (Meta)
        </li>
    
        <li>
            Microsoft
        </li>
        <li>
            Apple
        </li>
    </ul>
    
    <p>
        This is not an easy thing to do but it is necessary to protect your privacy. Since you likely cannot get rid of all of these services, start small and replace them one at a time as you find valuable alternatives. If you can't completely remove a service, access it in the safest way possible and apply sandboxing techniques.
    </p>
    
    <p>
        See Alternative Services
    </p>
    
    <h2>
        Protect the Remainder
    </h2>
    
    <p>
        Now that you have reduced the attack opportunities, it's time to protect whatever is left.
    </p>
    
    <ul class="!text-white">
        <li>Keep all applications up to date</li>
        <li>Set a <a routerLink="/guide/password">strong password</a> for all apps/services</li>
        <li>Apply <a routerLink="/guide/2fa">2FA</a> to critical services</li>
        <li>Look for privacy switches in the services settings. Many services let you opt out of targeted ads or data collection. While the service ignore your request, many services do respect these choices.</li>
    </ul>
    
    
    <h2>
        Disconnecting
    </h2>
    
    <p>
        While all these methods can help protect yourself, there isn't a better solution than reducing the amount of interaction you give these harmful services. Good practices can only do so much.
    </p>
</div>