<div class="md:mx-20 mx-5 md:py-4 md:px-8 py-2 px-4 my-2 bg-lapis rounded-md prose prose-a:text-white prose-li:text-white prose-h1:text-white
prose-h2:text-white prose-h3:text-white prose-h4:text-white" style="max-width: max-content;">
    <h1>List of Alternative Services</h1>
    <p>
        This is a list of privacy respecting apps to replace the common properitery options. They are organized by category and then by app. 
    </p>
    <h2>Categories</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 prose p-6 mb-8 items-center" id="category" style="max-width: none">
        <div>
            <h3 id="ai">AI</h3>
            <p>ChatGPT (and any other OpenAI service)</p>
            <ul>
                <li><p (click)="scrollTo('lainon-ai')">LainonAI</p></li>
            </ul>
        </div>
        <div>
            <h3 id="audio">Audio</h3>
            <p>Reaper</p>
            <ul>
                <li><p (click)="scrollTo('audacity')">Audactiy</p></li>
            </ul>
        </div>
        <div>
            <h3 id="chat">Chat</h3>
            <p>Discord, Guilded</p>
            <ul>
                <li><p (click)="scrollTo('matrix')">Matrix</p></li>
            </ul>
        </div>
        <div>
            <h3 id="development">Development</h3>
            <p>VSC, VS, Netbeans, IntelliJ</p>
            <ul>
                <li><p (click)="scrollTo('vscodium')">VSCode</p></li>
            </ul>
        </div>
        <div>
            <h3 id="email">Email</h3>
            <p>Services (Gmail/Outlook/Yahoo/etc)</p>
            <ul>
                <li><p (click)="scrollTo('protonmail')">ProtonMail</p></li>
            </ul>
            <p>Clients</p>
            <ul>
                <li><p (click)="scrollTo('thunderbird')">Thunderbird</p></li>
            </ul>
        </div>
        <div>
            <h3 id="graphics-design--digital-art">Graphics Design / Digital Art</h3>
            <p>Adboe Photoshop</p>
            <ul>
                <li><p (click)="scrollTo('gimp')">Gimp</p></li>
            </ul>
            <p>Adobe Illustrator</p>
            <ul>
                <li><p (click)="scrollTo('krita')">Krita</p></li>
            </ul>
        </div>
        <div>
            <h3 id="im-internet-messaging-sms">IM (Internet Messaging, SMS)</h3>
            <p>What&#39;s App, Facebook Messenger, Snapchat, SMS</p>
            <ul>
                <li><p (click)="scrollTo('signal')">Signal</p></li>
            </ul>
        </div>
        <div>
            <h3 id="social-media">Social Media</h3>
            <p>Twitter</p>
            <ul>
                <li><p (click)="scrollTo('mastadon')">Mastadon</p></li>
            </ul>
        </div>
        <div>
            <h3 id="video--streaming">Video / Streaming</h3>
            <p>Services (Record/Stream)</p>
            <ul>
                <li><p (click)="scrollTo('obs')">OBS</p></li>
            </ul>
            <p>Twitch</p>
            <ul>
                <li><p (click)="scrollTo('glimesh')">Glimesh</p></li>
            </ul>
            <p>Youtube</p>
            <ul>
                <li><p (click)="scrollTo('newpipe')">NewPipe</p></li>
            </ul>
        </div>
    </div>

    <!-- The actual article -->
    <app-md #post [post]="-1"></app-md>
</div>