<div class="md:mx-20 mx-5 md:py-4 md:px-8 py-2 px-4 my-2 bg-lapis rounded-md prose prose-a:text-white prose-li:text-white prose-h1:text-white
prose-h2:text-white prose-h3:text-white prose-h4:text-white" style="max-width: max-content;">
    <h1>List of Alternative Services</h1>
    <p>
        This is a list of privacy respecting apps to replace the common properitery options. They are organized by category and then by app. 
    </p>
    <h2>Categories</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 prose" style="max-width: none">
        <div>
            <h3 id="ai">AI</h3>
            <p>ChatGPT (and any other OpenAI service)</p>
            <ul>
                <li><a href="/#lainon-ai">LainonAI</a></li>
            </ul>
        </div>
        <div>
            <h3 id="audio">Audio</h3>
            <p>Reaper</p>
            <ul>
                <li><a href="#audacity">Audactiy</a></li>
            </ul>
        </div>
        <div>
            <h3 id="chat">Chat</h3>
            <p>Discord, Guilded</p>
            <ul>
                <li><a href="#matrix">Matrix</a></li>
            </ul>
        </div>
        <div>
            <h3 id="development">Development</h3>
            <p>VSC, VS, Netbeans, IntelliJ</p>
            <ul>
                <li><a href="#vscodium">VSCode</a></li>
            </ul>
        </div>
        <div>
            <h3 id="email">Email</h3>
            <p>Services (Gmail/Outlook/Yahoo/etc)</p>
            <ul>
                <li><a href="#protonmail">ProtonMail</a></li>
            </ul>
            <p>Clients</p>
            <ul>
                <li><a href="#thunderbird">Thunderbird</a></li>
            </ul>
        </div>
        <div>
            <h3 id="graphics-design--digital-art">Graphics Design / Digital Art</h3>
            <p>Adboe Photoshop</p>
            <ul>
                <li><a href="#gimp">Gimp</a></li>
            </ul>
            <p>Adobe Illustrator</p>
            <ul>
                <li><a href="#krita">Krita</a></li>
            </ul>
        </div>
        <div>
            <h3 id="im-internet-messaging-sms">IM (Internet Messaging, SMS)</h3>
            <p>What&#39;s App, Facebook Messenger, Snapchat, SMS</p>
            <ul>
                <li><a href="#signal">Signal</a></li>
            </ul>
        </div>
        <div>
            <h3 id="social-media">Social Media</h3>
            <p>Twitter</p>
            <ul>
                <li><a href="#mastadon">Mastadon</a></li>
            </ul>
        </div>
        <div>
            <h3 id="video--streaming">Video / Streaming</h3>
            <p>Services (Record/Stream)</p>
            <ul>
                <li><a href="#obs">OBS</a></li>
            </ul>
            <p>Twitch</p>
            <ul>
                <li><a href="#glimesh">Glimesh</a></li>
            </ul>
            <p>Youtube</p>
            <ul>
                <li><a href="#newpipe">NewPipe</a></li>
            </ul>
        </div>
    </div>

    <app-md #post [post]="-1"></app-md>
</div>