ul>li>p {
    color: blanchedalmond !important;
    cursor: pointer;
}

ul>li>p:hover {
    color: bisque;
}

#category {
    background-color: #3e94c23b;
}

#category div:hover {
    background-color: #1c82b93b;
}