<div class="bg-slate-600 md:mx-20 mx-5 md:py-4 md:px-8 py-2 px-4 my-2 rounded-md">
    <h1 class="text-center text-lg font-bold">What do you want to Protect?</h1>

    <p class="text-center text-sm font-semibold">Select a category from below.</p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-2 mt-2" id="protection" (click)="switchPages('browser')">
        <div class="bg-cyan-700 p-4 rounded-sm cursor-pointer hover:bg-cyan-600">
            <h2 class="text-center">Browser</h2>
            <img src="" alt="">
            <p>Protect the tool you use the most! These are very easy to protect, but can be dangerous if left vulnerable.</p>
        </div>
        <div class="bg-cyan-700 p-4 rounded-sm cursor-pointer hover:bg-cyan-600" (click)="switchPages('communication')">
            <h2 class="text-center">Communication</h2>
            <img src="" alt="">
            <p>No eavsedropping now!</p>
        </div>
        <div class="bg-cyan-700 p-4 rounded-sm cursor-pointer hover:bg-cyan-600" (click)="switchPages('wifi')">
            <h2 class="text-center">Wifi</h2>
            <img src="" alt="">
            <p>Protect your home network from intrustions and lower your data usage.</p>
        </div>
        <div class="bg-cyan-700 p-4 rounded-sm cursor-pointer hover:bg-cyan-600 border border-yellow-300 border-solid" (click)="switchPages('simple')">
            <h2 class="text-center">Simple</h2>
            <img src="" alt="">
            <p>A general overview of this website in a single guide.</p>
        </div>
        <div class="bg-cyan-700 p-4 rounded-sm cursor-pointer hover:bg-cyan-600">
            <h2 class="text-center">Browser</h2>
            <img src="" alt="">
            <p>Protect the tool you use the most! These are very easy to protect, but can be dangerous if left vulnerable.</p>
        </div>
    </div>
</div>