<div class="bg-lapis md:mx-20 mx-5 md:py-4 md:px-8 py-2 px-4 my-2 rounded-md prose guide" style="max-width: fit-content;">
    <h1 class="text-center text-lg">Communication</h1>

    <p>Our communication is one of the most important things to protect. Our communication is a window into how we think and feel. Companies know this and try to access it using many different means. There is a reason why services like email are free, and it is <b>not</b> generosity!
    </p>

    <p>
        This page shows how to protect various methods of communication. However, you may not be able to use these methods in all situations. Many employers/schools restrict your choice.
    </p>

    <div class="flex flex-row flex-wrap gap-2 mt-2">
        <div class="bg-lighterBlue rounded-sm basis-0 grow p-4 text-white min-w-fit">
            <h2 class="!text-white text-center">SMS (Text Messaging)</h2>
            <img class="w-full h-16" src="/assets/img/sms.svg" alt="">

            <ul>
                <li>The worst option by default</li>
                <li><b>No</b> encryption in transit or storage!</li>
                <li>Anyone (gov, provider, hackers) can easily read message content</li>
                <li>No control or insight into storage length</li>
                <li>High monthly fee, dependent on provider</li>
            </ul>

            <div class="flex justify-center">
                <button (click)="swapCommunication('SMS')" class="p-2 bg-buttonNormal hover:bg-buttonHover text-white rounded-sm hover:bg-slate-500">Select</button>
            </div>
        </div>

        <div class=" bg-lighterBlue rounded-sm basis-0 grow p-4 text-white min-w-fit">
            <h2 class="text-center text-white">Email</h2>
            <img class="w-full h-16" src="/assets/img/email.svg" alt="">
            <ul>
                <li>The major providers (Gmail, Outlook, Yahoo, etc.) are not private</li>
                <li>If using the proper services, has the option to be secure.</li>
                <li>Can be self hosted!</li>
            </ul>

            <div class="flex justify-center">
                <button (click)="swapCommunication('email')" class="p-2 bg-buttonNormal hover:bg-buttonHover text-white rounded-sm hover:bg-slate-500">Select</button>
            </div>
        </div>
    </div>

    <hr>

    <div *ngIf="communication == 'SMS'">
        <h2 id="sms-text-messaging-">SMS (Text Messaging)</h2>
    
        <p>
            SMS text messaging is not secure. SMS has no encryption. This means that it is vulnerable to several forms of interception. The most common one is via the carrier. Your mobile phone service provider can read all of your messages at any time. Your messages have to pass through their servers. Frequently, they store them long term. AT&amp;T, Sprint, and T-Mobile have been caught selling user location data. Others have been caught selling the content itself.
        </p>
    
        <p>
            Another vulnerability is interception via stingray. While these are not used on average citizens, they are a threat. A stingray can pretend to be a cellphone tower and receive all message content. Since the message is not encrypted, a stingray can read all message content. However, the government does not need to use a stingray to monitor your messages. Under the patriot act, your messages are already being scanned for certain keywords. Additionally, most companies hand over user data to the government with or without a warrant. <b>If you have a private message to send, do not use SMS!</b>
        </p>
    
        <h3 id="signal">Signal</h3>

        <img src="/assets/img/signal.png" class="h-1/6" alt="Signal Homepage">

        <p>One option to escape these issues is to use signal. It is an encrypted messaging platform with a high focus on security and encryption. It is free and is a far better option. Similarly to SMS, you can send messages and participate in group chats. However, you are dependent on the company. Signal works anywhere you have a data connection or WiFi. Signal has a very similar look and feel to traditional messaging services.</p>

        <button class="p-2 bg-buttonNormal hover:bg-buttonHover text-white rounded-sm" (click)="openLink('www.signal.org/download/')">Install</button>
    </div>
    
    <div *ngIf="communication == 'email'">
        <h2 id="email">Email</h2>
        
        <p>
            Email is another privacy target. Since email is (usually) a free service, it suffers from the most surveillance. You should assume that Gmail,
            Outlook, Yahoo, and nearly every other provider sell the content of your emails. Nothing you send in an email is private. Email is also a target for government surveillance efforts. Many services require email verification not for security, but for identification purposes.
        </p>
    
        <p>
            While encryption can help, it is not a full solution. Gmail offers encryption services. However, Gmail always stores the security keys. This means that your emails may be protected from network level attacks, Google/friends can still see the content of your emails. It is also vulnerable to government requests for information.
        </p>
    
        <h3 id="proton-mail-self-hosted-mail">Proton Mail / Self Hosted</h3>
        
        <img src="/assets/img/protonmail.png" class="h-1/2" alt="ProtonMail Homepage">

        <p>
            Proton mail is a great email service. They have some of the strongest encryption services. While there is a free tier, many users will need to pay for a premium tier to get the intended service. Unlike Gmail, Proton Mail does not store your encryption keys. This means that even if the government requests your information, your email content is safe. This also protects you from ads and other information gathering.
        </p>

        <p>Similarly to other services, ProtonMail also offers file storage, calender functionality, and a VPN.</p>
        
        <button class="p-2 bg-buttonNormal hover:bg-buttonHover text-white rounded-sm" (click)="openLink('proton.me/')">Install</button>
        
        <h3>Self Hosted Mail <em>(Advanced)</em></h3>
        
        <p>
            Another option is to hose your own mail server. This proved the best guarantee of control. No unauthorized user can read your email and you don't need to pay a monthly fee for the service (aside from running your server). However, this is much more advanced. Several projects exist to help with this project. One of the easiest ones is  Docker Mail. This runs a Docker instance and is mostly a run and forget solution.
        </p>

        <button class="p-2 bg-buttonNormal hover:bg-buttonHover text-white rounded-sm" (click)="openLink('github.com/docker-mailserver/docker-mailserver')">Install</button>
    </div>

    <hr *ngIf="communication != ''">
    <b>
        <em class="text-white">
            While there are many methods to make digital communication secure, the best way to send a truly private message is to do it in person.
        </em>
    </b>
</div>