
<app-case-side-bar (id)="updateArticle($event)" class="w-1/8"></app-case-side-bar>
<div class="flex flex-row w-full">
    <div class="flex-grow float-right" *ngIf="articleSelected == false">
        
        <h2>Cases</h2>
        
        <p>This page shows a listing of various security breaches and privacy issues.</p>
        <p>These listings are here to show that our information has always been at risk, and will always be at risk.</p>
    </div>
    <div class="flex-grow float-right" *ngIf="articleSelected == true">
        <app-md #article [post]="id"></app-md>
    </div>

</div>
