<div class="bg-lapis md:mx-20 mx-5 md:py-4 md:px-8 py-2 px-4 my-2 rounded-md prose guide colorLinks" style="max-width: fit-content;">

    <h1 id="top">
        Choosing a Mobile Device
    </h1>
    
    <p>
        We carry our phones <em>everywhere</em>. This makes our phone a great target for hacking and spying. While you may not need a new phone right now, keep this guide in mind the next time you buy a smartphone.
    </p>
    
    <h2>
        Apple iPhone
    </h2>
    
    <p>
        Apple's devices not very good for privacy. They have built-in tracking at the OS level. Since Apple uses lack of control as a security feature, there is little you can to do protect yourself on an Apple device. If you own an apple device, turn off any advertising ID/tracking settings in the Settings app. Limit what permissions your apps are able to access.
    </p>

    <p>
        It's worth mentioning that while Apple does spy on your activities, they do limit apps ability to do so. Since the release of the new "Tracking" feature, it is very easy to opt out of cross device tracking. This is a big privacy advantage over other services.
    </p>
    
    <h2>
        Google Android
    </h2>
    
    <p>
        Android powers most mobile devices. However, each manufacturer uses a slightly different version. The base version of Android is called the Android Open Source Project (AOSP). This version is a good balance between privacy and security. Since it is open source, you have the ability to add or remove features you don't want or need. Many manufacturers take advantage of this and add additional trackers, bloatware, and unwanted apps.
    </p>

    <p>
        Unlike Apple, Android provides the ability to remove much of the tracking through a combination of custom ROMs. These are special versions of Android built for privacy and security. Rom's such as <a href="https://grapheneos.org/">GrapheneOS</a>, <a href="https://e.foundation/e-os/">/e/OS</a>, <a href="https://lineageos.org/">LineageOS</a>, and <a href="https://calyxos.org/">CalyxOS</a> provide an experience that is worlds better than the ROMs shipped by Samsung, Pixel, Motorola, and other manufacturers. Installing a custom ROM is free, but it does require some technical experience. More importantly, only specific phone models are guaranteed to work. You will need to examine the requirements for the ROM that you choose.
    </p>

    <ul class="text-white">
        <li>GrapheneOS: Best for Security</li>
        <li>/e/OS: Good balance of privacy and security. Similar look/feel to iOS.</li>
        <li>LineageOS: Privacy focused ROM.</li>
        <li>CalyxOS: Privacy focused ROM.</li>
    </ul>

    <p>
        Custom ROMs provide the best privacy and security, but they have some important drawbacks. Since the main focus of these ROMs is to improve privacy, many have disabled or completely removed Google Services. This includes the Play Store. If you need a specific app, you may not have access to it. Due to this factor, this guide is not recommended for novice users.
    </p>

    <p>
        If you need Google Apps (or just want the play store), there are several options. One is the MicroG project. This is a tool that allows Google Apps to run, but limits their abilities in the form of a sandbox. It can't fully protect you, but it is far better than using the stock version of Android. Another option is to use the Aurora Store. This app let's you download Google Play apps without a Google account. These apps still have their initial tasks so you should be very mindful of what you install. Alternatively, FDroid provides a large selection of open source apps. They are all free and open source. Some apps are on the Play Store, while others are not.
    </p>

    <h2>
        Linux Phones
    </h2>

    <p>
        Unfortunately, Linux phones are not production ready yet. Several mobile-focused phones exist, but they need more work before the average user can enjoy them. Once completed, these phones will be a very private and affordable solution for privacy.
    </p>
</div>