<div class="bg-lapis md:mx-20 mx-5 md:py-4 md:px-8 py-2 px-4 my-2 rounded-md prose guide colorLinks" style="max-width: fit-content;">

    <h1 id="top">
        Choosing a Password
    </h1>
    
    <p>
        Choosing a strong password is very easy. However, most people have <em>very</em> insecure passwords. This guide will show you how to choose a good password.
    </p>
    
    <h2>
        Length
    </h2>
    
    <p>
        The longer a password, the harder it is to crack. At minimum, you should have an 8 character password. However, you should strive to get to at least 12 characters. For an extremely sensitive service (such as banking or a government website), try to get 15-30 characters. At this length your password will be <b>extremely</b> hard to crack.
    </p>
    
    <h2>
        Character Type
    </h2>
    <p>
        While a long password helps to protect your security, the password needs to have a lot of variety. Using common words or phrases makes even long passwords easy to crack. You should add a variety of special characters, capital and non-capital letters, and numbers to your password. Avoid shoving the special characters or numbers to the end. Spread them out evenly.
    </p>

    
    <h2>
        Memorization
    </h2>
    
    <p>
        A strong password is pretty great, but you still need to be able to use your service! Using these strong passwords can make it difficult to remember what they are. One solution is to write your password down in a secure location. Leave it with someone you trust or in a private area. Some people store passwords in a safety deposit box.
    </p>

    <p>
        There are some techniques you can use to make passwords that are strong and easy to remember. A common strategy is to split your password into groups. Try 3 letters, 1 symbol, 3 letters, 1 number. Alternatively, 4 letters, 2 numbers, 4 letters, 2 symbols. The pattern doesn't need to fit any requirement. Keep the length and variation and you will have a strong password.
    </p>

    <p>
        <em>Grouping is the same technique used by phone numbers. To a computer, a phone number doesn't have any spaces or dashes. We add them to aid in memorization.</em>
    </p>

    <h2>Check the Strength</h2>

    <p>
        Once you have chosen a password, check it with this <a href="https://bitwarden.com/password-strength/">free tool</a>.
    </p>

    <img src="/assets/img/badPassword.png" class="w-3/4" alt="Password admin123 can be cracked in a few seconds">
    
    <img src="/assets/img/goodPassword.png" class="w-3/4" alt="This password won't be cracked for a long time!">

    <h2>Common Mistakes</h2>

    <p>
        There are a few mistakes you should never make. These allow an attacker to easily access your data.
    </p>

    <ol class="!text-white">
        <li>Don't use a name of yourself, your pet, your family, or anyone you know.</li>
        <li>Don't use password, qwertyuiop, admin, or any simple password. View <a href="https://www.forbes.com/sites/daveywinder/2019/12/14/ranked-the-worlds-100-worst-passwords/?sh=1d02e46b69b4">this</a> list</li>
        <li>Don't reuse a password for multiple services</li>
    </ol>
</div>