<div class="bg-indigo p-4 flex flex-col h-full rounded-md">
    <p>General</p>
    <hr class="my-2">
    <button (click)="showCase(2)" class="self-start p-2 text-white hover:text-slate-400 rounded-sm">Privacy vs. Security</button>
    <button (click)="showCase(5)" class="self-start p-2 text-white hover:text-slate-400 rounded-sm">"Free" Services</button>
    <button (click)="showCase(10)" class="self-start p-2 text-white hover:text-slate-400 rounded-sm">Staying Informed</button>
    <button (click)="showCase(11)" class="self-start p-2 text-white hover:text-slate-400 rounded-sm">"I Have Nothing to Hide"</button>
    <p class="mt-2">Past Breaches</p>
    <hr class="my-2">
    <button (click)="showCase(3)" class="self-start p-2 text-white hover:text-slate-400 rounded-sm">Reddit Breach</button>
    <button (click)="showCase(4)" class="self-start p-2 text-white hover:text-slate-400 rounded-sm">OpenAI</button>
    <button (click)="showCase(7)" class="self-start p-2 text-white hover:text-slate-400 rounded-sm">Mobile Carriers</button>
    <button (click)="showCase(8)" class="self-start p-2 text-white hover:text-slate-400 rounded-sm">Google Location</button>
    <button (click)="showCase(9)" class="self-start p-2 text-white hover:text-slate-400 rounded-sm">Meta (Facebook)</button>
    <button (click)="showCase(12)" class="self-start p-2 text-white hover:text-slate-400 rounded-sm">Yahoo</button>
    <button (click)="showCase(13)" class="self-start p-2 text-white hover:text-slate-400 rounded-sm">Linkedln</button>
</div>