<div class="bg-indigo p-4 flex flex-col h-full rounded-md">
    <p>General</p>
    <hr class="my-2">
    <button (click)="showCase(2)" class="self-start p-2 text-white hover:text-slate-400 rounded-sm">Privacy vs. Security</button>
    <button (click)="showCase(5)" class="self-start p-2 text-white hover:text-slate-400 rounded-sm">"Free" Services</button>
    <p>Past Breaches</p>
    <hr class="my-2">
    <button (click)="showCase(3)" class="self-start p-2 text-white hover:text-slate-400 rounded-sm">Reddit Breach</button>
    <button (click)="showCase(4)" class="self-start p-2 text-white hover:text-slate-400 rounded-sm">OpenAI</button>
</div>