<div class="bg-lapis md:mx-20 mx-5 md:py-4 md:px-8 py-2 px-4 my-2 rounded-md prose guide colorLinks" style="max-width: fit-content;">

    <h1 id="top">
        Choosing a PC/Laptop
    </h1>
    
    <p>
        While there are many laptops/PCs available, few are set up for privacy by default. Several attempt to prevent you from making any changes to improve privacy! I cannot recommend a specific device or model, but there are several generic pieces of advice that will prove helpful.
    </p>
    
    <h2>
        Avoid Chromebooks
    </h2>
    
    <p>
        Chromebooks are the worst device for both privacy and security. Many of these devices are locked to run ChromeOS. You cannot switch to any other operating system. Since this OS is made by Google, it has a privacy score of 0. Besides the privacy issues, the OS cannot run most real software. Few downloadable applications will run natively on ChromeOS. While some software will run in the compatibility environment, this is not a user friendly way to run software.
    </p>

    <p>
        Besides the OS, they have several other problems. The first is their longevity. Chromebooks are built cheap. Many will not survive for more than a few years. I take good care of my technology, but even I went through 3 Chromebooks in a single year at school. It is far better to buy a more expensive laptop then to purchase that many devices. Another issue is the hardware itself. Most Chromebooks have low or no real storage capacity. This means you are dependent on Google Drive for cloud services. You lose access to your files without internet, and you have to pay a monthly fee. Avoid Chromebooks!
    </p>
    
    <h2>
        Switching Operating Systems
    </h2>
    
    <p>
        Your operating system (OS) dictates the amount of control you have over local apps and services. Switching from the standard operating systems can dramatically help to protect your privacy. You should choose a device that allows you to switch to Linux. Unlike MacOS and Windows, Linux is both free and open source. Using Linux, you can have <b>complete</b> control over your OS.
    </p>

    <p>
        There are a variety of Linux distributions (versions) available. Several have privacy as a core concept. Regardless of the distribution, any linux distribution is far better for privacy than Windows and Mac. However, you do need to be aware of a few things.
    </p>

    <ol class="text-white">
        <li>
            Software Compatibility: Linux compatibility is better than ChromeOS. However, there are some applications that will not run on Linux. You should consider your needs carefully before choosing an OS. Many users have a multi-boot setup. This allows them to use both OSs. Linux can be used for the day-to-day tasks and Windows can be used when you need an unsupported app.
        </li>
        <li>
            Gaming Support: Gaming support has improved drastically over the past few years! Using <a href="https://www.protondb.com/">Proton</a>, you can now run many Steam games that were previously Windows-only. If you have an unsupported game, consider a multi-boot setup.
        </li>
        <li>
            Don't forget security! Some people believe that switching to Linux will offer complete protection. You still need to carefully consider what apps and services you use.
        </li>
        <li>
            Consider your distribution carefully. Each is slightly different. Some may be better or worse for your specific needs. Here is a <a title="Linux Guide" href="https://youtu.be/PwugmcN1hf8">Guide</a> which shows some of the customization that is obtainable on Linux.
        </li>
    </ol>

    <h2>
        Security
    </h2>

    <p>
        You should take several steps to protect your new device. The exact method varies per device, but these actions should be possible on a variety of systems.
    </p>

    <ul class="text-white">
        <li>
            Set a password on the user and admin accounts.
        </li>
        <li>
            Disable the guest account (if one exists)
        </li>
        <li>
            Set a password on the BIOS menu (advanced). <a href="https://www.wikihow.com/Set-a-BIOS-Password">Tutorial</a>
        </li>
        <li>
            If you have highly sensitive data, consider using disk encryption. Backup your data to a trusted source.
        </li>
        <li>
            Enable automatic updates for the OS and any software.
        </li>
    </ul>
</div>