/* You can add global styles to this file, and also import other style files */

/*tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
    background-color: #1a1d27;
}

.nav {
    background-color: #1a1d27;
}

.nav a {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: aliceblue;
}

ol, li {
    list-style: disc !important;
}

markdown a {
    color: blanchedalmond !important;
}

markdown a:hover {
    color: bisque;
}

.colorLinks a {
    color: blanchedalmond;
}

.colorLinks a:hover {
    color: bisque;
}

.guide h1,
.guide h2,
.guide h3,
.guide h4,
.guide h5,
.guide h6
{
    color: aliceblue
}
