<div class="prose p-4 m-4" style="max-width: max-content;">
    <h1 class="text-center text-white">Protect Personal Privacy</h1>
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="bg-lapis p-3 rounded-lg -mr-0 md:-mr-40">
            <p>Every day, terrabytes of data are needlessly sent across the internet. Unknown to most users, much of this data contains the user's personal information. Others are aware of this issue, but believe they have nothing to hide. Some people view the problem as being too big to solve. These are all dangerous misconceptions.</p>
        </div>
    
        <div class="bg-lapis p-3 rounded-lg opacity-30 mx-4 -z-10 hidden md:block">
            <img class="float-right" src="/assets/img/circuit1.png" alt="Circuit board">
        </div>
    
        <div class="bg-lapis p-3 rounded-lg opacity-30 mx-4 -z-10 hidden md:block">
        </div>
    
        <div class="bg-lapis p-3 rounded-lg -ml-0 md:-ml-40">
            <p>
                Your data is being collected from nearly every source. Between public posts on social media, private messages sent via SMS/IRC, government surveilance, internet searches, ISP logging, workplace/education services, and online gaming, you are being watched. Even if you avoid the internet when possible, other peoples devices will identify you without your consent!
            </p>

            <p>
                <em>
                    If complete stranger asks to enter your home, would you let him in?
                </em>
            </p>
        </div>

        <div class="bg-lapis p-3 rounded-lg -mr-0 md:-mr-40">
            <p>
                Some users believe that no harm will come in their browsing habits, private feeds, and messages being made public. "I have nothing to hide" is a common phrase. However, You <b>DO</b> have something to hide. Many people do not realize the depth of the data collection. Your data is used for far more than advertising.

            </p>
            
        </div>
    
        <div class="bg-lapis p-3 rounded-lg opacity-30 mx-4 -z-10 hidden md:block">
        </div>

        <div class="bg-lapis p-3 rounded-lg opacity-30 mx-4 -z-10 hidden md:block"></div>

        <div class="bg-lapis p-3 rounded-lg -ml-0 md:-ml-40">
            <p>
                Some users try to take back control. They purchase Apple "Secure" devices, use a cheap VPN, browse in incognito mode, and turn off privacy switches. While the effort is commendable, these actions do little to nothing to protect your privacy. You are only as strong as your weakest link.
            </p>

            
        </div>

        <div class="bg-lapis p-3 rounded-lg -mr-0 md:-mr-40">
            <p>Information is one of the greatest sources of power in this world. Resolve to keep yourself safe. Reduce your dependence on the internet, limit the amount of information collected, and protect what remains. While it may be a difficult task, it is a neccassary one. This website is here to help you.</p>
        </div>

        <div class="bg-lapis p-3 rounded-lg opacity-30 mx-4 -z-10 hidden md:block"></div>
    </div>

    <div class="text-center">
        <h2 class="text-white">Be aware of the dangers. Learn how the system works. Defend yourself.</h2>
        <button routerLink="guide" class="text-center p-2 bg-buttonNormal hover:bg-buttonHover text-white rounded-sm">Start now</button>
    </div>
</div>
