<div class="bg-lapis md:mx-20 mx-5 mb-4 md:py-4 md:px-8 py-2 px-4 my-2 rounded-md prose guide" style="max-width: fit-content;">
    <h1 class="text-center text-lg">Networking and Wifi</h1>

    <p>
        Choosing a safe network is an important part of privacy and security. You should always assume that the owner of a network has full access to all data sent across the connection. Most people have access to two "safe" networks. These are your household network and you cellular network. All other networks are assumed to be unsafe. This doesn't mean that all other networks are bad, but it does mean that you can't control what happens to your data when you are away from your safe network. <b>Under no circumstance should you <i>ever</i> use a payment, banking, or highly sensitive service on an unsafe network!</b>
    </p>

    <p>
        This page shows how to protect your home network from attacks. This is not a guide on how to implement specific measures, but it will give a good direction for what to fix.
    </p>

    <h2>Set a Strong Password</h2>

    <p>This is one of the easiest changes to make. Setting a strong password protects your network from outsiders. This is a one time action with great benefits. This will help to keep your traffic private and reduce costs if you are on a limited plan. <i>Shoo neighbors!</i></p>

    <p>Your password should be at least 12 characters with a variety of numbers, symbols, and capital/non-capital letters. It should have no recognizable works and should have no meaning to you, or anyone that knows you. Write the password down in a safe place and log in all of your devices at the same time. This may take about 20 minutes for an entire household of devices, but it is well worth it.</p>

    <p class="ml-2 italic">Most routers have several methods for setting a password. You should choose WPA2 (or WPA3 if you have a new model). WPA and WEP are better than no security, but have significant flaws. If you don't see these options, you are likely on WPA2.</p>

    <h2>Remove the Guest Network</h2>

    <p>Most routers have a guest network setting. While this may be helpful if you have guests, it is better to disable it when it is not in use. That is one way to let unwanted users on your network. If you find creating the network for each guest too time consuming, consider adding the user to your home network instead.</p>

    <h2>Change the SSID (Network Name)</h2>

    <img alt="Funny WiFi names such as Thou Shalt Not Cover Thy Neighbor's Wifi" title="Funny WiFi Names" decoding="async" src="https://parade.com/.image/t_share/MTkyOTEwMjM5MzE2NTg0MTQ0/wifi-names.png" width="1000" height="664">
    <p class="text-xs text-white">Image from Parade.com</p>

    <p>Your network name should not disclose your real identity. Many ISPs set the name of your network to the name of the customer. This allows attackers to see who owns the network. This may make you a target. Consider a specific combination of meaningful (only to you) letters, symbols, and numbers, or use random gibberish.</p>

    <h2>Adjust the Signal Strength</h2>

    <p>You can adjust the signal strength of your WiFi network to be limited to your surrounding area. Many routers broadcast at a high strength. This may help bring a connection throughout your home, but many routers overachieve and broadcast your WiFi throughout your neighborhood! This allows attackers (or nosy neighbors) to try to get into your network. Now that you have a strong password (<b><i>right?</i></b>) it will be much more difficult, but you shouldn't make it any easier than it needs to be. Ideally, your Wifi should travel throughout your home and possibly around the edges of your house. Adjust for your home accordingly.</p>
</div>